{% extends "admin_app/master.html" %}
{% block content %}
{% load static %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert" style="background-color:#b100cd;
                    color:white;
                    border:none;">
                        {{ message }}
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="alert">
                        </button>
                    </div>
                {% endfor %}
            {% endif %}

            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Category List 1</h4>
                    <a href={% url "create_category" %}>
                        <p class="card-description"> Add Category </p>
                    </a>
                    <div class = "table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th> Category Name</th>
                          <th> Category Name</th>
                          <th> Description </th>
                          <th> Create At </th>
                          <th> Is Active </th>
                          <th> Action </th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for i in cate %}
                        <tr>
                          <th>{{ forloop.counter }}</th>
                          <td class="py-1">
                            {{ i.category_name1 }}
                          </td>
                          <td class="py-1 text-truncate" style="max-width: 150px;"> {{ i.description }} </td>
                          <td>
                            <div class="py-1">
                              {{ i.create_at }}
                            </div>
                          </td>
                          <td> {{ i.is_action }} </td>
                          <td>
                            <a href="{% url "update_category" i.id %}">
                            <button type=button class="btn btn-outline-primary">update</button>

                            <a href="{% url "delete_category" i.id %}"
                            onclick = "return confirm('Are you sure you want to delete this EventRole?')">
                            <button type=button class="btn btn-outline-danger">Delete</button>
                        </td>
                          {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
{% endblock content %}
<tbody>