{% extends "admin_app/master.html" %} 
{% block content %} 
{% load static %}
<!-- partial -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="content-wrapper d-flex align-items-center auth">
      <div class="row flex-grow">
        <div class="col-lg-13 mx-auto">
          <div class="auth-form-light text-left p-5">
            <h4>Add Category</h4>
            <h6 class="font-weight-light">Create new category</h6>

            <form class="pt-3" method="POST">
              {% csrf_token %}
              <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">select student name</label>
                  <div class="col-sm-10">
                    <select class="form-select" name ="cate_one" aria-label="Default select example">
                      <option selected>Open this select student name</option>
                      {% for i in cat_main1 %}
                      <option value="{{ i.id }}" {% if i.id == upda_cate.cate_one.id %} selected {% endif %}>{{ i.category_name1 }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="row mb-3">
                  <label class="col-sm-2 col-form-label">select student name</label>
                  <div class="col-sm-10">
                    <select class="form-select" name ="cate_two" aria-label="Default select example">
                      <option selected>Open this select student name</option>
                      {% for i in cat_main2 %}
                      <option value="{{ i.id }}" {% if i.id == upda_cate.cate_two.id %} selected {% endif %}>{{ i.category_name2 }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              <div class="form-group">
                <label class="form-label"> Category Name </label>
                <input type="text" name="category_name3" value="{{ upda_cate.category_name3 }}" class="form-control form-control-lg" placeholder="Enter Category Name"/>
              </div>

              <div class="form-group mt-3">
                <label class="form-label"> Description </label>
                <textarea
                  name="description" value="{{ upda_cate.description }}" class="form-control" rows="5" placeholder="Enter Description"></textarea>
              </div>
              <div class="form-group">
                <label class="form-label d-block">
                    Category Status
                </label>
                <div class="form-check">
                    <input type="checkbox" name="is_action" value="{{ upda_cate.is_action }}" class="form-check-input" id="categoryCheck">
                    <label class="form-check-label" for="categoryCheck">Active Category</label>
                </div>
              </div>
              <div class="mt-4 d-grid gap-2">
                <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-medium auth-form-btn">SAVE CATEGORY</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
