{% extends "users_app/master.html" %}
{% block content %}

    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">Contact</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Contact Us</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-7 mb-5">
                <div class="bg-light p-30">
                    <h4 class="mb-4">Receive messages instantly with our PHP and Ajax contact form - available in the <a href="https://htmlcodex.com/downloading/?item=1479">Pro Version</a> only.</h4>
                    <form>
                        <div class="control-group mb-3">
                            <input type="text" class="form-control" placeholder="Your Name"/>
                        </div>
                        <div class="control-group mb-3">
                            <input type="email" class="form-control" placeholder="Your Email"/>
                        </div>
                        <div class="control-group mb-3">
                            <input type="text" class="form-control" placeholder="Subject"/>
                        </div>
                        <div class="control-group mb-3">
                            <textarea class="form-control" rows="8" placeholder="Message"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit">Send
                                Message</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-5 mb-5">
                <div class="bg-light p-30 mb-30">
                    <iframe style="width: 100%; height: 315px;"
                    src="https://www.google.com/maps?q=Ahmedabad,Gujarat,India&output=embed"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="bg-light p-30 mb-3">
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>913,the capital-2,scinsity road , ahemdabad</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>multishop@example.com</p>
                    <p class="mb-2"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


{% endblock content %}